<ion-view title="购买">
	<ion-content>
		<div class="list">
			<a class="item item-icon-right" ng-click="goAddress()" ng-model="order.address_id">
 				<i class="icon ion-ios-arrow-right"></i>
				<strong>配送至：</strong>
				<p>{{address.address_province}}{{address.address_city}}{{address.address_area}}{{address.address_detail}}</p>
				<p>{{address.address_recipient}}({{address.address_phone}})</p>
			</a>
			<div class="item item-thumbnail-left">
				<img ng-src="{{good.good_image}}">
			    <h2>{{good.good_title}}</h2>
			    <p>数量：1</p>
			    <p>库存：{{good.stock_num}}</p>
			    <span class="assertive right" ng-if="type == 'tuan'">{{good.tuan_price}}/件</span>
			    <span class="assertive right" ng-if="type == 'single'">{{good.single_price}}/件</span>
			</div>
			<div class="item item-divider">
				<span class="assertive right" ng-if="type == 'tuan'">快递：{{good.freight_price}} 总价 {{good.tuan_price}}/件</span>
			    <span class="assertive right" ng-if="type == 'single'">快递：{{good.freight_price}} 总价 {{good.single_price}}/件</span>
			</div>
			<div class="item item-divider">请选择支付方式</div>
			<div class="item item-checkbox" id="buy-checkbox">
				<label class="checkbox checkbox-assertive" >
			       <input type="checkbox" checked disabled >
			     </label>
			    微信支付
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-assertive" ng-click="pay()">立即支付</button>
		</div>
	</ion-content>
</ion-view>