<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-app-config" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppConfig</name>
    <author>George Bragin</author>
    <description>A plugin to read application config file (plist and manifest).</description>

    <js-module name="AppConfig" src="www/AppConfig.js">
        <clobbers target="cordova.plugins.AppConfig" />
    </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="AppConfig">
        <param name="ios-package" value="AppConfig" />
      </feature>
    </config-file>
    <source-file src="src/ios/AppConfig.m" />
  </platform>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AppConfig">
        <param name="android-package" value="com.orderhub.cordova.AppConfig" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <source-file src="src/android/AppConfig.java" target-dir="src/cordova-plugin-app-config/AppConfig" />
  </platform>
</plugin>
