<ion-view title="关于我们">
	<ion-header-bar class="bar-positive">
		<a class="button button-icon icon ion-ios-arrow-left butoon-clear" href="#/setting"></a>
		<div class="title">关于</div>
	</ion-header-bar>
	<ion-content class="padding" style="margin-top:100px;">
		<center>
			<p>keepdays是一个关于目标跟踪和习惯培养的社区，我们希望通过微打卡这款工具能够帮助大家记录，分享，进步，欢迎持续关注我们。</p>
			<p>官网：<a href="https://www.keepdays.com" target="_blank">https://www.keepdays.com</a></p>
			<p>微博: <a href="https://www.weibo.com/keepdays" target="_blank">@keepdays</a></p>
			<p>微信公众号：keepdays</p>
			<p>qq群：7852084</p>
		</center>
	</ion-content>
</ion-view>