<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="发现" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/explore">
    <ion-nav-view name="explore-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="排行" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/app/top">
    <ion-nav-view name="top-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="我" badge="app.count" badge-style="badge-assertive" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my">
    <ion-nav-view name="my-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>