<ion-view title="捐赠我们">
    <ion-header-bar class="bar-positive">
        <a class="button button-icon icon ion-ios-arrow-left butoon-clear" href="#/setting"></a>
        <div class="title">捐赠我们</div>
    </ion-header-bar>
    <ion-content>
       <div class="list">
           <div class="item item-body">
               <p>从2013年创办 「keepdays」 以来 ，我都把注意力放在如何更高效地帮助大家更好地管理目标和培养习惯上，因此也从未考虑过做任何盈利。</p>
               <p>但是随着用户地不断增长，我们同样面临着巨额地带宽，开发等成本，显然，这靠我一个人的力量显然是无法撑到最后的。</p>
               <p>因此在未产生盈利的前提下，我希望所有认同我们价值观和理念的小伙伴们也能够贡献一份自己的力量，以支撑我们更好地开发和改进我们的产品。</p>
               <p>如果你愿意捐赠我们，可以直接向我的支付宝帐号 <span class="positive">ccnuzxg@163.com</span> 或微信帐号 <span class="positive">foxmee</span> 转账，或者直接扫描下面二维码进行转账（请备注:微打卡+注册邮箱，以便记录）</p>
               <img src="img/alipay.jpeg" class="full-image">
               <img src="img/wechat.jpeg" class="full-image">
           </div>
       </div>
    </ion-content>
</ion-view>