<ion-view title="目标排名">
	 <ion-header-bar class="bar-positive">
 		<a class="button button-icon icon ion-ios-arrow-left butoon-clear" href="#/goal/{{goalId}}"></a>
		<div class="title">目标排名</div>
	</ion-header-bar>
	<ion-content class="">
		<div class="list padding-top">	
			<a class="item item-thumbnail-left item-icon-right" ng-repeat="user in users" href="#/user/{{user.user_id}}">
		        	<img ng-src="{{user.user_avatar}}" fallback-src="img/default.jpg">
		        	<h2>{{user.nickname.length > 0?user.nickname:'keeper'+user.user_id}}</h2>
		        	<p>正能量：{{user.energy}}</p>
		        	<p>打卡天数：{{user.total_days}}</p>
		        	<p>开始时间：{{user.start_time*1000 | date:"yyyy/MM/dd"}}</p>
		          <span class="badge" ng-class="getClass({{$index + 1}})">No.{{$index + 1}}</span>
		      </a>
		 </div>
		 <ion-infinite-scroll
		    on-infinite="loadMore()"
		    distance="1%">
		    显示更多
		</ion-infinite-scroll>
    </ion-content>
</ion-view>