<ion-view title="新增目标">
    <ion-header-bar class="bar-positive">
        <a class="button button-clear icon ion-ios-arrow-left" href="#/app/home"></a>
        <div class="title">新增目标</div>
    </ion-header-bar>
    <ion-content class="">
        <form name="goalForm">
            <div class="list">
                <div class="item item-divider"></div>

                <label class="item item-input">
                    <span class="input-label">目标名称</span>
                    <input type="text" name="name" placeholder="例如：跑步" ng-model="goaladd.goal.name" ng-maxlength="100"
                           required>
                    <div class="error"
                         ng-if="goalForm.name.$touched && goalForm.name.$dirty && goalForm.name.$invalid">
                        <small class="error" ng-if="goalForm.name.$error.required">
                            目标名称不能为空
                        </small>
                        <small class="error"
                               ng-if="goalForm.name.$error.maxlength">
                            目标名称长度过长
                        </small>
                    </div>
                </label>
                <div class="item item-divider"></div>
                <label class="item item-input">
                    <span class="input-label">开始日期</span>
                    <input type="date" name="start_date"  min="{{goaladd.today}}" ng-model="goaladd.goal.start_date " ng-change="goaladd.setDays()"  required>
                    <div class="error"
                         ng-if="goalForm.start_date.$touched && goalForm.start_date.$dirty && goalForm.start_date.$invalid">
                        <small class="error" ng-if="goalForm.start_date.$error.required">
                            请输入开始日期
                        </small>
                    </div>
                </label>
                <label class="item item-input">
                    <span class="input-label">结束日期</span>
                    <input type="date" name="end_date"  ng-model="goaladd.goal.end_date" required ng-change="goaladd.setDays()">
                </label>
                <label class="item item-input">
                    <span class="input-label">目标天数</span>
                    <input type="number" name="days" min="0" placeholder="请输入具体数字，0代表不限定" ng-model="goaladd.goal.days"
                          required>
                    <div class="error"
                         ng-if="goalForm.days.$touched && goalForm.days.$dirty && goalForm.days.$invalid">
                        <small class="error" ng-if="goalForm.days.$error.required">
                            天数不得为空
                        </small>
                    </div>
                </label>
                <!--<label class="item" ng-if="goaladd.goal.days>0">-->
                    <!--起止日期-->
                    <!--<span class="item-note">-->
					<!--{{goaladd.getRange()}}-->
    			    <!--</span>-->
                <!--</label>-->
                <!--<label class="item" ng-if="goaladd.goal.days>=0">-->
                    <!--消耗能量-->
                    <!--<span class="item-note assertive">-->
					<!-- -{{goaladd.goal.days==0?1000:goaladd.goal.days}}-->
    			    <!--</span>-->
                <!--</label>-->
                <div class="item item-divider"></div>

                <label class="item item-input">
                    <span class="input-label">目标介绍</span>
                    <textarea placeholder="描述你的目标" rows="3" ng-model="goaladd.goal.desc"></textarea>
                </label>
                <div class="item item-divider"></div>

            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="goaladd.doSaveGoal()"
                        ng-disabled="goalForm.$invalid">保存
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>