<ion-view title="{{goalview.goal.goal_name}}">
    <ion-header-bar class="bar-positive">
        <a class="button button-icon button-clear ion-ios-arrow-back" href="#/app/home"></a>
        <div class="title">{{goalview.goal.goal_name}}</div>
        <a class="button button-icon button-clear ion-ios-more" ng-click="goalview.openPopover($event)"></a>
    </ion-header-bar>

    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="goalview.getGoal()">
        </ion-refresher>
        <div class="text-center" style="margin-top: 10px;">
            <p><span class="badge badge-balanced" ng-if="goalview.goal.pivot.status == 0">进行中</span></p>
            <p><span class="badge badge-assertive" ng-if="goalview.goal.pivot.status == 1">已结束</span></p>
            <p style="color:#bbb;">开始于：{{goalview.goal.pivot.start_date}}，结束于：{{goalview.goal.pivot.end_date?goalview.goal.pivot.end_date:'永久'}}</p>
        </div>
        <div class="row" style="margin:10px auto;">
            <div class="progress-wrapper" ng-click="goalview.goCheckin()">
                <div class="progress ng-cloak">
                    <i class="icon ion-checkmark-round" style="font-size: 120px;" ng-style="{color:goalview.goal.pivot.is_today_checkin?'#48c6ef':'#bbb'}"></i>
                </div>
                <round-progress
                        max="goalview.goal.pivot.expect_days>0?goalview.goal.pivot.expect_days:999"
                        current="goalview.goal.pivot.total_days"
                        color="#48c6ef"
                        bgcolor="#eaeaea"
                        radius="100"
                        stroke="20"
                        semi="false"
                        rounded="true"
                        clockwise="false"
                        responsive="false"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0">
                </round-progress>
            </div>
        </div>

        <div class="row center">
            <div class="col card">
                <strong class="num">{{goalview.goal.pivot.expect_days}}</strong>
                <br>目标天数
            </div>
            <div class="col card"><strong class="num">{{goalview.goal.pivot.total_days}}</strong><br>完成天数</div>
            <div class="col card"><strong class="num">{{goalview.goal.pivot.series_days}}</strong><br>连续天数
            </div>
        </div>

        <div class="card" style="margin-top: 0px;">
            <div class="row">
                <div class="col text-left"><span>最近打卡</span></div>
                <div class="col text-right"><a href="#/goal/{{goalview.goal.goal_id}}/calendar">详细>></a></div>
            </div>
            <data-date-slider-picker on-select-date="goalview.setDate" total-days="30" date-select-var="goalview.today"
                                     date-events="goalview.events">
            </data-date-slider-picker>
        </div>

        <div class="list" ng-if="!(goalview.checkin | isEmpty)">

            <div class="item item-divider">
                {{goalview.selectedDay}} <span class="right">完成第 <em class="num">{{goalview.checkin.total_days}}</em> 天</span>
            </div>

            <div class="item item-body">
                <event-content content="{{goalview.checkin.checkin_content}}"></event-content>
                <p></p>
                <img class="full-image" ng-src="{{goalview.resUrl+'images/'+goalview.checkin.attaches[0].attach_path+'/'+goalview.checkin.attaches[0].attach_name}}" ng-if="goalview.checkin.attaches.length>0">
            </div>

            <div class="item item-icon-left checkin-item" ng-if="goalview.checkin.items.length>0" ng-repeat="item in goalview.checkin.items" style="font-size:14px;background-color: #f8f8f8;">
                <i class="icon ion-android-checkbox-outline"  style="font-size:16px;"></i>
                {{item.item_name}}<span class="pull-right"> {{item.item_value}} {{item.item_unit}}</span>
            </div>

        </div>
        <div class="list" ng-if="goalview.checkin | isEmpty">
            <div class="item item-divider">
                {{goalview.selectedDay}}
            </div>

            <a class="item">
                <p>无打卡记录</p>
            </a>

        </div>

    </ion-content>


</ion-view>


