<ion-view class="" id="init-view">
	<ion-slide-box>
		<ion-slide class="bg-blue">
			<div class="intro-img">
				<img src="img/intro-1.png" width="300">
			</div>
			<h3>打卡分享</h3>
			<p>
				日志展现，传播正能量于社区
			</p>
		</ion-slide>
		<ion-slide class="bg-red">
			<div class="intro-img">
				<img src="img/intro-2.png" width="300">
			</div>
			<h3>新增话题</h3>
			<p>
				聚焦热点，找出志同道合的小伙伴
			</p>
		</ion-slide>
		<ion-slide class="bg-pink">
			<div class="intro-img">
				<img src="img/intro-3.png" width="300">
			</div>
			<h3>更多功能</h3>
			<p>
				不断改进和优化，敬请期待
			</p>
			<button class="button button-light button-outline" ng-click="init.startApp()">立即体验</button>
		</ion-slide>
	</ion-slide-box>
</ion-view>