<ion-view title="赞">
		<ion-header-bar class="bar-positive">
			<a class="button button-icon icon ion-ios-arrow-left button-clear" href="#/message"></a>
			<div class="title">鼓励</div>
		</ion-header-bar>
	<ion-content>
	
		<div class="list" ng-if="messagelike.messages.length>0">
		    <a class="item item-avatar" href="#/event/{{message.event_id}}" ng-repeat="message in messagelike.messages">
		      <img ng-src="{{message.user_avatar}}" fallback-src="img/default.jpg">
		      <h2>{{message.nickname}}  赞了你的打卡</h2>
		      <p><span am-time-ago="{{message.create_time*1000}}" am-preprocess="unix"></span></p>
		    </a>
		</div>
		<div class="list" ng-if="messagelike.messages.length == 0">
		    <a class="item item-title">
		      <h2>别急，爱与鼓励总会有的。。</h2>
		    </a>
		</div>

	</ion-content>
</ion-view>