<ion-view title="主页">
 	<ion-header-bar class="bar-positive">
 		<a class="button button-icon icon ion-ios-arrow-left butoon-clear" href="#/app/my"></a>
		<div class="title">我的标签</div>
	</ion-header-bar>
<ion-content>
		<div class="item item-input-inset">
			  <label class="item-input-wrapper">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="search" placeholder="搜索标签" ng-model="goalsearch.search.text">
			    <i ng-if="search.text.length > 0" ng-click="clearSearch()" class="icon ion-close"></i>
			  </label>
	  	</div>
		<div class="list">
		    <a class="item item-icon-right" href="#/tag/{{tag.tag_id}}" ng-repeat="tag in tags | filter:search.text">
			      	<p>{{tag.tag_name}} ({{tag.follow_count}})</p>
			      	<i class="icon ion-ios-arrow-right"></i>
		    </a>
		</div>
</ion-content>