<ion-view title="{{userfans.user.nickname}} 的粉丝">
    <ion-header-bar class="bar-positive">
        <a class="button button-icon icon ion-ios-arrow-left butoon-clear" href="#/user/{{userfans.user.user_id}}"></a>
        <div class="title">{{userfans.user.nickname}} 的粉丝</div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="userfans.doRefresh()">
        </ion-refresher>
        <div class="list" >
            <a class="item item-avatar item-icon-right" href="#/user/{{user.user_id}}" ng-repeat="user in userfans.users">
                <img ng-src="{{user.user_avatar}}" fallback-src="img/default.jpg">
                <h2>{{user.nickname.length>0?user.nickname:'keeper'+user.user_id}}</h2>
                <!--<button class="button button-positive button-outline button-small">-->
                    <!--关注-->
                <!--</button>-->
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item text-center" ng-if="userfans.users.length == 0">
                暂时还没有人关注Ta。
            </a>
        </div>

        <ion-infinite-scroll
                on-infinite="userfans.loadMore()"
                distance="1%">
            显示更多
        </ion-infinite-scroll>
    </ion-content>

</ion-view>