<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.qiudao.cordova.umeng-analytics" version="0.1.0">
    <name>Umeng Analytics</name>
    <description>Umeng Analytics Cordova plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,umeng,analytics</keywords>
    <author>baomingba</author>

    <preference name="UMENG_IOS_ID" value="55a0938067e58e0cb0002c3e" />
    <preference name="UMENG_ANDROID_ID" value="55a1019467e58eaf8f00b413" />

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="UmengAnalytics">
                <param name="ios-package" value="UmengAnalytics" />
                <param name="onload" value="true" />
            </feature>
            <preference name="UmengIOSAppId" value="$UMENG_IOS_ID" />
        </config-file>

        <header-file src="src/ios/AppDelegate+UmengAnalytics.h" />
        <source-file src="src/ios/AppDelegate+UmengAnalytics.m" />

        <header-file src="src/ios/libs/MobClick.h" />
        <header-file src="src/ios/libs/MobClickSocialAnalytics.h" />
        <source-file src="src/ios/libs/libMobClickLibrary.a" framework="true" />
        
        <header-file src="src/ios/libs/UMCheckUpdate.h" />
        <source-file src="src/ios/libs/libUMCheckUpdate.a" framework="true" />


        <framework src="libz.dylib" weak="true" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UmengAnalytics">
                <param name="android-package" value="com.qiudao.cordova.umeng.UmengAnalytics" />
            </feature>
        </config-file>

        <source-file src="src/android/libs/umeng-analytics-v5.4.2.jar" target-dir="libs" />

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET"></uses-permission>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
        </config-file>

        <source-file src="src/android/umeng.xml" target-dir="res/values" />
        <config-file target="res/values/umeng.xml" parent="/*">
            <string name="umeng_android_id">$UMENG_ANDROID_ID</string>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:value="@string/umeng_android_id" android:name="UMENG_APPKEY"/>
            <meta-data android:value="My" android:name="UMENG_CHANNEL"/>
        </config-file>
    </platform>

</plugin>