<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-xiaomi"
    version="1.3.0">

    <name>Xiaomi</name>
    <description>A cordova plugin, a JS version of xiaomi SDK</description>
    <license>MIT</license>
    <keywords>cordova,xiaomi</keywords>
    <repo>https://github.com/jasonz1987/cordova-plugin-xiaomi.git</repo>
    <issue>https://github.com/jasonz1987/cordova-plugin-xiaomi/issues</issue>

    <!-- add this to your config.xml -->
    <preference name="XIAOMIAPPID" />
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <!-- js module-->
    <js-module src="www/xiaomi.js" name="Xiaomi">
        <clobbers target="Xiaomi" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Xiaomi">
                <param name="ios-package" value="CDVWechat"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="XIAOMIAPPID" value="$XIAOMIAPPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>xiaomi_appid</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$XIAOMIAPPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVXiaomi.h" />
        <source-file src="src/ios/CDVXiaomi.m" />

        <!-- Xiaomi Official -->
        <header-file src="src/ios/MiPassport.bundle" />
        <source-file src="src/ios/MiPassport.framework" framework="true" />

    </platform>

    <!-- android -->
    <platform name="android">
       <!--  <hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" /> -->

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Xiaomi">
                <param name="android-package" value="com.jasonz.xiaomi.Xiaomi"/>
            </feature>
            <preference name="XIAOMIAPPID" value="$XIAOMIAPPID"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />
        </config-file>

        <source-file src="src/android/Xiaomi.java" target-dir="src/com/jasonz/xiaomi" />
        <source-file src="src/android/oauth.1.5.jar" target-dir="libs" framework="true"/>
    </platform>
</plugin>
