a {
  text-decoration:none;
}

body {
/*  color:#fff;
*/}

h1,h2{
/*  color:#fff;
*/}

#init-view .slider {
    height: 100%;
}

#init-view .slider-slide {
    padding-top: 20px;
    color: #000;
    text-align: center;
    font-weight: 400;
}

#init-view .slider h3,#init-view .slider p {
    color:#fff;
}

#init-view .slider .intro-img {
    margin-top: 100px;
}

#init-view .slider-pager .slider-pager-page {
    color:#fff;
}

.bg-blue {
  background-color: #4fadff;
  color: #fff;
}

.bg-red {
    background-color: #fb4c4e;
    color: #fff;
}

.bg-pink {
    background-color: #a45af3;
    color: #fff;
}

.center {
  text-align: center;
}

.title {
  text-align: center;
}

.num {
  color: #1abc9c;
  font-size: 2.0em;
  font-weight: 400;
}

/* welocome page start */
.copyright {
  color: #fff;
  font-size:12px!important;
}

.day1 {
  margin-top:50px;
  font-size: 50px;
  min-height: 50px;
  text-align: center;
}
.day2 {
  min-height: 100px;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
}

.sentence {
  text-align: center;
  margin-top:50px;
}

.sentence .title{
  font-size: 30px;
  height:40px;
  line-height: 40px;
}

.sentence .content{
  font-size: 30px;
  height:40px;
  line-height: 40px;
}

/* welcome page end */

/*overwrite ionic css*/

.item-complex{
  padding-right: 0 !important;
}

.item-body p {
  margin-top:0px!important;
}

.item-body blockquote {
  color:#666;
  font-size: 12px;
}

/*overwrite ionic css*/

.splash-title {
	font: bold 2.5em 'Oswald', sans-serif;
	margin-top: 100px;
	color: white;
  	font-size: 3em;
  	margin-top: 100px;
  	text-shadow: 0 2px 10px #000;
}

.right {
  float:right;
}

/*form*/
.error {
    color: hsl(0, 100%, 100%);
    background: hsl(354, 67%, 55%);
    padding-left: 6px;
    line-height: 24px;
}

.tag {
  font-size: 12px;
  padding-right: 5px;
}
  /*.list-inset{
      -webkit-border-radius: 0;
      border: none;
      padding:0;
  }*/
/*.item-input input {
    color: hsl(0, 0%, 40%);
}
.item .item-input{
    height: 48px;
    border-color:hsl(0, 0%, 90%);
    background: white;
}*/
  /*.list-inset .item:first-child{
      -webkit-border-radius: 0;
      border-radius: 0;
  }
*/

/*.group-box p {
  margin-bottom: 2px;
  padding-right: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar {
  width: 80px;
  height: 80px;
}*/

#upload-image-btn,#upload-image-btn:before {
  font-size: 50px!important;
}

.userheader{
  background: url(../img/background.png) no-repeat 0 center;
  background-size:100% 100%;
}
#user-home-tab .tabs {
  top:161px!important;
}


.tag-list a{ margin: 0 5px;}



.responsive-calendar .controls {
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.responsive-calendar .controls a {
  cursor: pointer;
  line-height: 20px;
}
.responsive-calendar .controls h4 {
  display: inline;
  line-height: 20px;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1abc9c;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.responsive-calendar .controls i
{
  font-size: 24px;
}

/*.progress { 
  height: 3em;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}
*/

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
  z-index: 1!important;
}
.dark .scroll-content {
  background-color: #3f4041 !important;
}
.dark .item-content{
  background-color: #3f4041 !important;
}
.dark .item {
  background-color: #3f4041;
  border: none;
  color:#fff;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
/*  padding: 20px;
*/  max-height: none;
}
.dark .item:first-child {
/*  border-top: 1px solid black;
*/}
.dark .item:last-child {
  border-bottom: 1px solid #333333;
}

.dark .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}

.dark .item.current p, .dark .item.current h3 {
  opacity: .7;
}
.dark h2,
.dark h3,
.dark p {
  color: #F0F1F1;
}

.dark-head {
  text-decoration: none;
}

.grid {
  color:#fff;
  font-size: 16px;
}

.grid .col {
  background-color: #0c9;
  border: 1px #ccc solid;
  margin: 5px;
}

.grid .col i{
  color:#fff;
  font-size: 200%;
}



.icon-top .icon{ display: block;margin: 0 auto;height: 32px;font-size: 32px;}

.avatar > img {
  max-width: 40px;
    max-height: 40px;
    width: 100%;
  height: 100%;
  border-radius: 50%;
  margin:0 5px;
}

/* rewrite bootstrap*/
.row {margin-left: 0px!important;}
/* rewrite bootstrap*/

#logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.login {
    margin-top:220px;
    padding-top: 30px;
    background-color: transparent;
}
.login .item {
    background-color: transparent;
    border-left-width:0;
    border-right-width:0;
    color:#fff;
}

.login .item .placeholder-icon,.login .item input {
    color:#fff;
}

.login .item  ::-webkit-input-placeholder { color:#fff;}
.login .item  ::-moz-placeholder { color:#fff;}
.login .item :-ms-input-placeholder { color:#fff;}
.login .item  input:-moz-placeholder {color:#fff; }

.login .item:first-child {
    border-top-width: 0;
}


.login-more .title{
    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
    color: #fff;
    text-align: center;
    position: relative;   /*定位横线（当横线的父元素）*/
}
.login-more .title:before, .login-more .title:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: #fff;       /*宽和高做出来的背景横线*/
    width: 9%;
    height: 1px;
}
.login-more .title:before{
    left: 25%;        /*调整背景横线的左右距离*/
}
.login-more .title:after {
    right: 25%;
}

.login-toolbar .iconfont {
    padding:0 10px;
}

#test {
    /*background: -webkit-linear-gradient(CadetBlue, DarkSeaGreen)!important;*/
    /*background: -o-linear-gradient(CadetBlue, DarkSeaGreen)!important;*/
    /*background: -moz-linear-gradient(CadetBlue, DarkSeaGreen)!important;*/
    /*background: linear-gradient(CadetBlue, DarkSeaGreen)!important;*/
    background: -webkit-linear-gradient(#48c6ef, #6f86d6)!important;
    background: -o-linear-gradient(#48c6ef, #6f86d6)!important;
    background: -moz-linear-gradient(#48c6ef, #6f86d6)!important;
    background: linear-gradient(#48c6ef, #6f86d6)!important;
    min-height: 100%;
}

#test .bar {
    background: -webkit-linear-gradient(CadetBlue, DarkSeaGreen)!important;
    background: -o-linear-gradient(CadetBlue, DarkSeaGreen)!important;
    background: -moz-linear-gradient(CadetBlue, DarkSeaGreen)!important;
    background: linear-gradient(CadetBlue, DarkSeaGreen)!important;
}

.profilepicture {
    position: absolute;
    width: 120px;
    height: 120px;
    background: url("../img/logo.png") no-repeat;
    background-size: 120px 120px;
    margin: 0 auto;
    top: -150px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    /* -webkit-box-shadow: 
      0 0 0 10px  rgba(255,255,255,.2),
      0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);
    -moz-box-shadow: 
      0 0 0 10px  rgba(255,255,255,.2),
      0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);
    box-shadow: 
      0 0 0 10px  rgba(255,255,255,.2),
      0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);
  */
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    /* border-radius: 50% has issues on some mobile browsers */
}

.pulse1 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255, 255, 255, .1);
    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-animation: pulsejg2 4s linear infinite;
    -moz-animation: pulsejg2 4s linear infinite;
    animation: pulsejg2 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }
    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }
    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }
    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }
    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }
    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }
    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }
    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }
    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    50% {
        transform: scale(.6);
        opacity: 0;
    }
    60% {
        transform: scale(.9);
        opacity: .1;
    }
    70% {
        transform: scale(1.1);
        opacity: .25;
    }
    80% {
        transform: scale(1.25);
        opacity: .1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }
    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }
    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }
    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }
    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }
    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    40% {
        transform: scale(.8);
        opacity: .05;
    }
    50% {
        transform: scale(1);
        opacity: .1;
    }
    60% {
        transform: scale(1.1);
        opacity: .3;
    }
    80% {
        transform: scale(1.2);
        opacity: .1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

#message-group .item-icon-left .icon, #message-group .item-icon-right .icon{
  font-size: 20px;
}

#message-group .item .badge {
  right:42px;
}

.check {
  width: 136px;
  height: 136px;
  background: #e5e5e5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.75), inset 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.75), inset 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.75), inset 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.check:before {
  content: "";
  background: #fff;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 9%;
  left: 9%;
  right: 9%;
  bottom: 9%;
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.check:after {
  content: "";
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: #60b247;
  border-width: 0;
  border-style: solid;
}
.check .check-icon {
  position: absolute;
  z-index: 3;
  top: 31%;
  left: 28%;
  width: 45%;
  fill: #e5e5e5;
}
.check.active:after {
  -moz-transition: ease-out 0.1s all;
  -o-transition: ease-out 0.1s all;
  -webkit-transition: ease-out 0.1s all;
  transition: ease-out 0.1s all;
  border-width: 68px;
}
.check.active .check-icon {
  fill: #fff;
  -moz-animation: bounce 0.2s;
  -webkit-animation: bounce 0.2s;
  animation: bounce 0.2s;
  -moz-animation-delay: 0.08s;
  -webkit-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

@-moz-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.card .item-icon-left {
  font-size:12px;
  color:#ddd;
}


/****  右侧图像列表开始 ****/
.item-avatar-right img{
  float:right;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 10px;
}

.item-avatar-right, .item-avatar-right .item-content{
  padding: 16px 69px 6px 16px;
}

.item-avatar-right > img:first-child, .item-avatar-right .item-image, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image{
  position: inital !important;
}

/**** 右侧图像列表结束 ****/

.profilepicture2{
    border-radius: 50%;
}


ion-popover-view.fit {
    height: auto;
}

ion-popover-view.fit ion-content {
    position: relative;
}
.platform-android ion-popover-view.fit {
    margin-top: 10px;
}

.platform-ios ion-popover-view.fit .item:first-child {
    border-radius: 10px 10px 0 0;
}
.platform-ios ion-popover-view.fit .item:last-child {
    border-radius: 0 0 10px 10px;
}

/* rewrite flex-calendar css */


.flex-calendar .week {
    background-color: #1abc9c!important;
}

.flex-calendar .month {
    background-color: #0c9!important;
}

.flex-calendar .days .day.selected .number {
    background-color: #1abc9c!important;
}

.flex-calendar .days .day.event:before {
    background-color: #1abc9c!important;;
}

/*  timeline */
.pos-absolute-right {
    position: absolute;
    right: 8px;
}

.timeline {
    position: relative;
    margin: 15px 0 0 0;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 44px;
    margin-left: -10px;
    z-index: 1;
}

.timeline .timeline-thumb {
    border-radius: 500px;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 10px
}

.timeline .timeline-thumb.timeline-icon {
    height: 50px;
    text-align: center;
    color: white;
    border: 5px solid #CBD0D3;
}

.timeline .timeline-thumb.timeline-icon i {
    font-size: 28px;
    margin: 6px 0;
    display: block;
}

.timeline .timeline-item {
    margin-left: 72px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.timeline .timeline-stats {
    position: relative;
    font-size: 12px;
    color: #7F8C8D;
}

.bg-color-green {
    background-color:#0c9;
}

.bg-color-gray {
    background-color:#ddd;
}

/* card-chart */


.progress-wrapper{
    position: relative;
    margin:0px auto;
    font-size: 40px;

}

.progress{
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 35.7143px;
}

.checkin-item {
    line-height: 10px!important;
}

.home-item .item-content{
    padding-top:10px!important;
    padding-bottom:10px!important;
}

.left-recorder-button .item-right-edit {
    left: 0;
}

.left-recorder-button.item-content {
    padding-left: 80px !important;
}

/* rewrite tabs */
/*.tabs-top>.tops,.tabs.tabs-top {*/
    /*top: 0px !important;*/
/*}*/

.bar-hidden {
    border-bottom: 0px;
}

.bar-hidden >a {
    color:#fff;
}

.bar-hidden .title {
    display: none;
}

.tabs-header .tabs {
    top:0px!important;
}

/* rewrite actionsheet for android */

.platform-android .action-sheet-backdrop {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.platform-android .action-sheet-wrapper {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.platform-android .action-sheet-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}

.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
}

.platform-android .action-sheet .button:hover {
    color: #007aff;
}

.platform-android .action-sheet .button.destructive {
    color: #ff3b30;
}

.platform-android .action-sheet .button.destructive:hover {
    color: #ff3b30;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    box-shadow: none;
    border-color: #d1d3d6;
    color: #007aff;
    background: #e4e5e7;
}

.platform-android .action-sheet-has-icons .icon {
    position: absolute;
    left: 16px;
}

.platform-android .action-sheet-title {
    padding: 16px;
    color: #8f8f8f;
    text-align: center;
    font-size: 13px;
}

.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.platform-android .action-sheet-group .button {
    border-width: 1px 0px 0px 0px;
}

.platform-android .action-sheet-group .button:first-child:last-child {
    border-width: 0;
}

.platform-android .action-sheet-options {
    background: #f1f2f3;
}

.platform-android .action-sheet-cancel .button {
    font-weight: 500;
}

.platform-android .action-sheet-open {
    pointer-events: none;
}

.platform-android .action-sheet-open.modal-open .modal {
    pointer-events: none;
}

.platform-android .action-sheet-open .action-sheet-backdrop {
    pointer-events: auto;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: center;
}

.platform-android .action-sheet-cancel {
    display: block;
}

.compact-item .item-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

.full-image {
    border-radius: 10px;
}


.like-item {
    font-size:14px;
    pading:10px;
}
.like-item label{
    float: left;
    line-height:32px;
}

.like-item img {
    float:right;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 5px;
}

.like-item i {
    color:#aaa;
}

.item-note .icon{
    margin-left:10px;
}

.comment-item p{
    white-space: normal;
    font-size:12px;
}

.comment-quota {
    background-color:#ddd;
    padding:10px;
    margin-bottom: 10px!important;
}

.level {
    background-color: #ffc900;
    color: #fff;
    padding:2px 5px;
    margin-left:5px;
    font-size:12px;
}

.icon {
    /*color:#ccc;*/
}

.bar {
    background-size:100% 0px;
}

.event-list .time {
   position: absolute;
    top:8px;
    right:5px;
    font-size: 14px;
    color:#ddd;
}